<div id="current_order" class="grid-container">
  <h2>Your current order </h2>
  <%= render partial: 'order', 
    locals: {items: @order.items, order_items: @order.order_items } %>
</div>


<div id="shop_more" class="grid-container">
<h3>Add more items to your cart</h3>

<% @order.items.each do |item| %>
  <%= render partial: 'items/item', locals: {item: item } %>
  <%= form_for current_order do |f| %>
    <%= hidden_field_tag :item, item.id %>
    <%= f.submit "Add to Cart" %>
  <% end %>
<% end %>
</div>


<div id="order_details" class="grid-container">
  <h4>Your current total: <%= number_to_currency(order_total(@order_items)) %> </h4>
  <%= link_to "Checkout", new_transaction_path%>
</div>



<% content_for :title do %>
  Order
<% end %>
