<header id="body_header">
  <h1>Your Order</h1>
</header>

<%= @order.status %>

<ul id="menu_list">
  <% @order_items.each do |item| %>
    
    <li id="menu_item">
      <header>
        <h2><%= item.title %></h2>
      </header>
      <section>
        <ul>
          <li><%= item.description %></li>
          <li><%= item.price %></li>
          <li><%= item.photo %></li>
          <a href="#">Add to Cart</a>
        </ul>
      </li>
  <%end%>
</ul>


<% content_for :title do %>
  Order
<% end %>

<% content_for :sidebar do %>
  <section id="your_order">
    <header><h1>Your Order</h1></header>
    <ul>
       <!-- render @user.order  -->
    </ul>
  </section>
<% end %>