<div class="grid-container">
  <div class="grid-100" id="contact-container">
    <h1>Contact Us</h1>

    <%= form_for [@restaurant, @contact] do |f| %>

      <table>
      <tr>
        <td class="contact-label"><%= f.label :name %></td>
        <td class="contact-form"><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td class="contact-label"><%= f.label :email %></td>
        <td class="contact-form"><%= f.text_field :email %></td>
      </tr>
      <tr>
        <td class="contact-label"><%= f.label :subject %></td>
        <td class="contact-form"><%= f.text_field :subject %></td>
      </tr>
      <tr>
        <td class="contact-label"><%= f.label :comment %></td>
        <td class="comment-form"><%= f.text_area :comment, :size => "75x5"  %></td>
      </tr>
      
    </table>

      <p>
        <%= f.submit "Enter", id: "contact-button" %>
      </p>

    <% end %>
  </div>
</div>

<% content_for :title do %>
  Contact Us
<% end %>
