<div class="grid-container">

  <h1>Contact Us</h1>

  <%= form_for(@contact) do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :subject %>
      <%= f.text_field :subject %>
    </p>
    <p>
      <%= f.label :comment %>
      <%= f.text_field :comment %>
    </p>
    <p>
      <%= f.submit "Enter"%>
    </p>

  <% end %>
</div>

<% content_for :title do %>
  Contact Us
<% end %>