<h1>Your order has been placed!</h1>

<h1>Transaction Details</h1>
<div id="transaction-details">
  <p class="order-item-details">Name: <%= @transaction.first_name %>
  <%= @transaction.last_name %></p>
  <% @transaction.order.order_items.each do |oi| %>
    <div class="order-item-details">
      <p>Item: <%= oi.item.title %></p>
      <p>Quantity: <%= oi.quantity %></p>
      <p>Subtotal: <%= number_to_currency(oi.item.price*oi.quantity) %></p>
    </div>
  <% end %>
  <p class="order-item-details">Total: <%= number_to_currency(order_total(@transaction.order.order_items)) %></p>
  <p class="order-item-details">Zipcode: <%= @transaction.zipcode %></p>
</div>
