<h1>Create Menu Item</h1>

<%= form_for(@item), :url => users_path, :html => { :multipart => true } do |f| %>
<%= form.file_field :avatar %>

  <ul>
  <% @item.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_area :price %>
  </p>
  <p>

    <%= f.label :photo, "Attach a photo" %><br />
    <%= f.file_field :photo %>

  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
