<%= div_for(item, class:"tile grid-33") do %>
  <div class="live-tile" data-mode: 'flip'>
    <div class="tile-front">
      <%= image_tag item.photo.url, height:200, width:200 %>
      <%= form_for current_order do |f| %>
        <%= hidden_field_tag :item, item.id %>
        <p class="tile-text"><%= item.title %></p>
        <%= f.submit "Add to Cart", class:'button-small add-to-cart' %>
      <% end %>
    </div> 
  </div>
  <div class="tile-back item-details">
    <%# item.title %>
    <%# item.description %>
    <%# item.price %>
  </div>
<% end %>

