<header id="body_header">
  <h1>Items</h1>
</header>

<ul id="menu_list">
  <% @items.each do |item| %>
    
    <li id="menu_item">
      <header>
        <h3><%= item.title %></h3>
      </header>
      <section>
        <ul>
          <li><%= item.description %></li>
          <li><%= number_to_currency(item.price) %></li>
          <li><%= item.photo %></li>
          
          <%= form_for current_order do |f| %>
           <%= hidden_field_tag :item, item.id %>
           <%= f.submit "YUMMY YUMMY ADD TO CART" %>
          <% end %>

          <%= link_to "delete", current_order, method: :delete %>
          
          <%= link_to "add to cart", orders_path(item: item.id), method: :post, class: "btn btn-small" %>

        </ul>
      </li>
  <%end%>
</ul>

<% content_for :title do %>
  Items
<% end %>


