<h1>All transactions</h1>

<% @transactions.each do |transaction| %>
  <ul>
    <%= transaction.first_name %>
    <%= transaction.last_name %>
    <%= transaction.credit_card_number %>
    <%= transaction.credit_card_expiration %>
    <%= transaction.zipcode %>
  </ul>
<% end %>
