<div class="grid-container">
  <h1>Transaction Information</h1>

  <%= form_for(@transaction) do |f| %>

  <%= render "shared/errors", model: @transaction %>

    <table>
    <tr>
      <td><%= f.label :first_name %></td>
      <td><%= f.text_field :first_name %></td>
    </tr>
    <tr>
      <td><%= f.label :last_name %></td>
      <td><%= f.text_field :last_name %></td>
    </tr>
    <tr>
      <td><%= f.label :credit_card_number %></td>
      <td><%= f.text_field :credit_card_number %></td>
    </tr>
    <tr>
      <td><%= f.label :credit_card_expiration %></td>
      <td><%= f.text_field :credit_card_expiration %></td>
    </tr>
    <tr>
      <td><%= f.label :zipcode %>
      <td><%= f.text_field :zipcode %>
    </tr>
  </table>

    <p>
      <%= f.submit "Purchase"%>
    </p>

  <% end %>
</div>
