<div class="grid-container">
  <div class="grid-100" id="transaction-container">
    <h1>Transaction Information</h1>

    <%= form_for(@transaction) do |f| %>

    <%= render "shared/errors", model: @transaction %>

      <table>
      <tr>
        <td class="transaction-label"><%= f.label :first_name %></td>
        <td class="transaction-form"><%= f.text_field :first_name %></td>
      </tr>
      <tr>
        <td class="transaction-label"><%= f.label :last_name %></td>
        <td class="transaction-form"><%= f.text_field :last_name %></td>
      </tr>
      <tr>
        <td class="transaction-label"><%= f.label :email %></td>
        <td class="transaction-form"><%= f.text_field :email %></td>
      </tr>
      <tr>
        <td class="transaction-label"><%= f.label :zipcode %>
        <td class="transaction-form"><%= f.text_field :zipcode %>
      </tr>
    </table>

    <h2 id="current-total">
      Current Total: <%= number_to_currency(order_total(current_order.order_items)) %>
    </h2>
    <br/>

      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_czwzkTp2tactuLOEOqbMTRzG"
        data-amount=""
        data-name="Ono-Burrito"
        data-description="Your Order"
        data-image="">
      </script>

    <% end %>

  </div>
</div>
