<div class="grid-container">
  <div class="grid-100" id="transaction-container">
    <h1>Transaction Information</h1>

    <%= form_for(@transaction) do |f| %>

    <%= render "shared/errors", model: @transaction %>

      <table>
      <tr>
        <td class="transaction-label"><%= f.label :first_name %></td>
        <td class="transaction-form"><%= f.text_field :first_name %></td>
      </tr>
      <tr>
        <td class="transaction-label"><%= f.label :last_name %></td>
        <td class="transaction-form"><%= f.text_field :last_name %></td>
      </tr>
     
      <tr>
        <td class="transaction-label"><%= f.label :zipcode %>
        <td class="transaction-form"><%= f.text_field :zipcode %>
      </tr>
    </table>

      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_czwzkTp2tactuLOEOqbMTRzG"
        data-amount="2000"
        data-name="Ono-Burrito"
        data-description="2 Burritos ($11.98)"
        data-image="/128x128.png">
      </script>

    <% end %>

  </div>
</div>
