 <div class="grid-container">
  <h1>Transaction Details</h1>
   
   <%= @transaction.first_name %>
   <%= @transaction.last_name %>
   <%= @transaction.credit_card_number %>
   <%= @transaction.credit_card_expiration %>
   <%= @transaction.zipcode %>
</div>
