<header id="page_header" role="banner">
  <nav id="utility">
    <p>
      You are logged in as <strong>Person</strong>
      <%= link_to "[Your Account]", "current_user_path" %>
      <%= link_to "[Logout]", "logout_path" %>
    </p>
  </nav>
  <%= link_to(
    image_tag("logo.png",
              alt: "Ono Burrito",
              id: "logo"),
    root_url,
    title: "Dashboard") %>
  <nav id="main_nav" role="navigation">
    <ul>
      <%= nav_tab 'Home', root_path, current: @current_tab %>
      <%= nav_tab 'Menu', items_path   , current: @current_tab %>
      <%= nav_tab 'Locations', "" , current: @current_tab %>
      <%= nav_tab 'Contact', "" , current: @current_tab %>
      <%= nav_tab 'Order', order_path(current_order) , current: @current_tab %>
    </ul>
  </nav>  
</header>