<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>
    <% if content_for?(:title) %>
      OnoBurrito - 
      <%= yield :title %>
    <% else %>
      OnoBurrito
    <% end %>
  </title>
  <%= stylesheet_link_tag "application", media: "all"%>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>  

<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <section id="content">
      <%= yield %>
    </section>

    <section id="sidebar">
      <section id="order">
        <%= yield :sidebar %>
        <header><h1 class="ir" id="your_order">Your Order</h1></header>
        <!-- render partial: 'order' -->
      </section>
    </section>

  </div>
  <%= render 'layouts/footer' %>
</body>

</html>
